<!DOCTYPE html>
<html lang="en">
    <!-- note this is not great HTML, you should have META tags! -->
    <head>
        <!-- add a font! -->
        <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300">
        <!-- add page styling! -->
        <link rel='stylesheet' href='/static/main.css'>
    </head>
    <body>
        <p>Hello, World! I am a static HTML page!</p>
        <!-- add JS file -->
        <script src='/static/index.js'></script>
    </body>
</html>