<!DOCTYPE html>
<html lang="en">
<!-- note this is not great HTML, you should have META tags! -->

<head>
    <!-- add a font! -->
    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300">
    <!-- add page styling! -->
    <link rel='stylesheet' href='/static/main.css'>
</head>

<body>
    <p id='rand'>placeholder</p>
    <form action="/" id='form'>
        <input type='text' id='sendbox' placeholder="Chat" />
        <input type="submit"/>
    </form>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>

    <!-- add JS file -->
    <script src='/static/index.js'></script>
</body>

</html>